.bordered-box{
    box-sizing: border-box;

    width: 54vw;
    max-width: 805px;
    min-width: 400px;
    height: 35vh;
    max-height: 397px;
    left: 237px;
    top: 177px;

    background: #FFFFFF;
    border: 8px solid #00A5EC;
    border-radius: 48px;
    margin-top: 0px;
    margin-left: -27vw;

    overflow-x: hidden;
}

.bordered-box::-webkit-scrollbar
{
  display: none;
}
