footer ul {
    display: inline-grid;
    grid-auto-flow: row;
    justify-items: center;
    margin: auto;
    position: relative;
}

footer li{
    margin-left: 10px;
}

footer a {
    color: white;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

footer a:hover {
    box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

footer {
    display: flex;
    height: auto;
    min-height: 51px;
    width: 100%;
    background-color: #004f70;
    line-height: 1.3;
    font-family: Menlo, monospace;
    margin-top: 60px;
    flex: 0 0 auto;
}

@media (min-width: 768px) {
    footer ul {
        grid-auto-flow: column;
    }
}
