.game-rules{
    margin-left: 9vw;
    
}

@media screen and (max-width: 768px) {
    .game-rules{
        font-size: 0;
        margin-left:10vw;
    }
}

@media screen and (max-width: 550px) {
    .game-rules{
        margin-left:50px;
    }
}
