.game-rules-header{
    position: relative;
}

.game-rules-header::before{
    width: 40px;
    height: 40px;
    content: "";
    position: absolute;
    background-size: cover;
    left: -45px;
    top: -12px;
    background-image: url(../images/icons/game-rules_icon.png);
}

@media screen and (max-width: 768px) {
    .game-rules-header{
        top: -15px;
        margin-left: 5vw; 
    }
}

@media screen and (max-width: 550px) {
    .game-rules-header{
        margin-left:30px;
    }
}