.nav-nav-bar{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -34px;
    margin-left: 19vw;
    width: 80%;
}

@media screen and (max-width: 550px) {
    .nav-nav-bar{
        margin-left:30px;
    }
}