.recent-games{
    margin-left: 9vw;
}

@media screen and (max-width: 768px) {
    .recent-games{
        font-size: 0;
        margin-left:10vw;
    }
}

@media screen and (max-width: 550px) {
    .recent-games{
        margin-left:50px;
    }
}