.tape-technics{
    margin-left: 4vw;
}

@media screen and (min-width:100px) and (max-width: 938px) {
    .tape-technics{
        font-size: 0;
        margin-left: 4vw;
    }
}

@media screen and (max-width: 768px) {
    .tape-technics{
        font-size: 0;
        margin-left: 10vw;  
    }
}
