.tape-technics{
    margin-left: 9vw;
}

@media screen and (max-width: 938px) {
    .tape-technics{
        font-size: 0;
        margin-left: 9vw;
        top: -10px;
    }
}

@media screen and (max-width: 768px) {
    .tape-technics{
        font-size: 0;
        margin-left: 10vw;  
    }
}

@media screen and (max-width: 550px) {
    .tape-technics{
        margin-left:50px;
    }
}
